<!DOCTYPE html>
<html lang="en" ng-app='acl_wizard'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>ACL Project Wizard</title>

		<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="/static/css/bootstrap/bootstrap-duallistbox.min.css">
		<link rel="stylesheet" href="/static/css/custom.css">
		{% block head %}{% endblock %}

	</head>
	<body>
		{% include 'base/header.html' %}

		<div class="container body">
			{% block body %}
			{% endblock %}
		</div>

		{% include 'base/footer.html' %}


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src='/static/js/angular_main.js'></script>
		<script src='/static/js/jquery.bootstrap-duallistbox.min.js'></script>

		{% block scripts %}{%endblock %}
	</body>
</html>