{% extends "base/base.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/form-wizard.css">
{% endblock %}


{% block body %}
<div class="container" ng-controller='generateProjectController'>
	<div class="row">
		<section>
		<div class="wizard">
			<div class="wizard-inner">
				<div class="connecting-line"></div>
				<ul class="nav nav-tabs" role="tablist">

					<li role="presentation" class="active">
						<a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Información del Proyecto">
							<span class="round-tab">
								<i class="glyphicon glyphicon-folder-open"></i>
							</span>
						</a>
					</li>

					<li role="presentation" class="disabled">
						<a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Tablas Involucradas">
							<span class="round-tab">
								<i class="glyphicon glyphicon-list-alt"></i>
							</span>
						</a>
					</li>
					<li role="presentation" class="disabled">
						<a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Módulos Extras">
							<span class="round-tab">
								<i class="glyphicon glyphicon-menu-hamburger"></i>
							</span>
						</a>
					</li>

					<li role="presentation" class="disabled">
						<a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Listo">
							<span class="round-tab">
								<i class="glyphicon glyphicon-ok"></i>
							</span>
						</a>
					</li>
				</ul>
			</div>

			<form role="form"  action="">
				<div class="tab-content">
					<div class="tab-pane active" role="tabpanel" id="step1">
						<h3>Información del Proyecto</h3>
						<div>
							  <div class="form-group">
								<label for="txtProjectName" class="col-sm-2 control-label">Nombre Proyecto</label>
								<div class="col-sm-2">
								  <input class="form-control" id="txtProjectName" ng-model='projectInfo.code' placeholder="DAC-AB-CDE-01"><br />
								</div>
								<div class="col-sm-3">
								  <input class="form-control" name='projectName' ng-model='projectInfo.name' placeholder="Nombre"><br />
								</div>
								<div class="col-sm-5">
								  <input class="form-control" ng-cloak value='[[projectInfo.code]] [[projectInfo.name]]' readonly><br />
								</div>
							  </div>

							  <div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">Ruta del Proyecto</label>
								<div class="col-sm-10">
									<select class='form-control' ng-model='projectInfo.path'>
										<option value="" disabled selected="">Seleccionar</option>
										{% for dst in context['destines'] %}
										<option value="{{dst.tag}}">{{dst.tag}} ({{dst.path}})</option>
										{% endfor %}
									</select><br />
								</div>
							  </div>
							  <div class="form-group">
								<label for="txtObjetivo" class="col-sm-2 control-label">Descripción</label>
								<div class="col-sm-10">
									<textarea class='form-control' ng-model='projectInfo.objective' cols="10" rows="3"></textarea><br>
								</div>
							  </div>

							  <div class="form-group">
								<label for="txtObjetivo" class="col-sm-2 control-label">Nombre Prueba</label>
								<div class="col-sm-10">
									<input class="form-control" value='[[projectInfo.code]] [[projectInfo.name]]' ><br />
								</div>
							  </div>

							  <div class="form-group">
								<label for="txtObjetivo" class="col-sm-2 control-label">Diseñador</label>
								<div class="col-sm-10">
									<select class="form-control">
										<option>Helen Gutierrez</option>
										<option>Raul Vinicio</option>
										<option>Luis Diloné</option>
									</select><br>
								</div>
							  </div>

							  <div class="form-group">
								<label class="col-sm-2 control-label">Documentación</label>
								<div class="col-sm-10">
									<input type="file" ng-model='projectInfo.file'>
								</div>
							  </div>
						</div>
						<ul class="list-inline pull-right">
							<li><button type="button" class="btn btn-primary next-step">Seleccionar Tablas	</button></li>
						</ul>
					</div>
					<div class="tab-pane" role="tabpanel" id="step2">
						<h3>Tablas Involucradas</h3>
						<div>
							<select multiple="multiple" ng-model='projectInfo.tables' ng-init='projectInfo.tables = []'  size="10" name="tables-select">
								{% for d in context['tables'] %}
									<option value="{{d.name}}">{{d.name}}</option>
								{% endfor %}
							</select><br>
						</div>
						<ul class="list-inline pull-right">
							<li><button type="button" class="btn btn-default prev-step">Ir atras</button></li>
							<li><button type="button" class="btn btn-primary next-step">Seleccionar Módulos</button></li>
						</ul>
					</div>
					<div class="tab-pane" role="tabpanel" id="step3">
						<h3>Módulos Extras</h3>
						<select multiple="multiple" ng-model='projectInfo.modules' ng-init='projectInfo.modules = []' size="10" name="tables-modules">
								{% for d in context['modules'] %}
									<option value="{{d.script_name}}">{{d.display_name}}</option>
								{% endfor %}
							</select><br>
						<ul class="list-inline pull-right">
							<li><button type="button" class="btn btn-default prev-step">Ir atras</button></li>
							<li><button type="button" class="btn btn-primary btn-info-full next-step">Estoy listo</button></li>
						</ul>
					</div>
					<div class="tab-pane" role="tabpanel" id="complete">
						<h3>Listo!</h3>
						<div class="col-md-12">
							<div class="col-md-12">
								nombre del proyecto: [[projectInfo.name]]
							</div>
							<br>
							<br>

							<div class='col-md-4'>
								<div class="list-group">
								  <a href="#" class="list-group-item active">TABLAS</a>
								  <a href="#" class="list-group-item list-group-item-warning" ng-show='projectInfo.tables.length == 0'>Sin seleccion</a>
								  <a href="#" class="list-group-item" ng-repeat='t in projectInfo.tables'>[[t]]</a>
								</div>
							</div>
							<div class='col-md-4'>
								<div class="list-group">
								  <a href="#" class="list-group-item active">MÓDULOS</a>
								  <a href="#" class="list-group-item" ng-show='projectInfo.modules.length == 0'>Sin seleccion</a>
								  <a href="#" class="list-group-item" ng-repeat='m in projectInfo.modules'>[[m]]</a>
								</div>
							</div>
						</div>
						<ul class="list-inline pull-right">
							<li><button type="button" class="btn btn-default prev-step">Olvidé algo</button></li>
							<li><button type="button" ng-click='generateProject()' class="btn btn-primary btn-info-full next-step">Generar Proyecto</button></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</section>
   </div>
</div>
{% endblock %}

{% block scripts %}

<script>
	$(document).ready(loadMultiSelect);
	$(document).ready(loadFormWizard);

	function loadMultiSelect() {
		asas = $('select[name="tables-select"]').bootstrapDualListbox();
		asas = $('select[name="tables-modules"]').bootstrapDualListbox();

	}

	function loadFormWizard() {
		//Initialize tooltips
		$('.nav-tabs > li a[title]').tooltip();

		//Wizard
		$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

			var $target = $(e.target);

			if ($target.parent().hasClass('disabled')) {
				return false;
			}
		});

		$(".next-step").click(function (e) {

			var $active = $('.wizard .nav-tabs li.active');
			$active.next().removeClass('disabled');
			nextTab($active);

		});
		$(".prev-step").click(function (e) {

			var $active = $('.wizard .nav-tabs li.active');
			prevTab($active);

		});
	}

	function nextTab(elem) {
		$(elem).next().find('a[data-toggle="tab"]').click();
	}
	function prevTab(elem) {
		$(elem).prev().find('a[data-toggle="tab"]').click();
	}
</script>
{% endblock %}
